<nav class="bg-white flex justify-between items-center px-24 py-10">
  <div>
    <img class="w-[124.27] h-[36.7px] cursor-pointer"
         routerLink=""
         src="assets/logo.png">
  </div>

  <div>
    <ul class="flex gap-10 font-light">
      <li>
        <a class="link"
           routerLink="about-us">Hakkımızda</a>
      </li>
      <li>
        <a class="link"
           routerLink="competition-software">
          Jüri - Yarışma Yazılımı
        </a>
      </li>
      <li>
        <a class="link"
           routerLink="word-ninja">
          Word Ninja
        </a>
      </li>
      <li>
        <a class="link"
           routerLink="word-pyramids">
          Word Pyramids
        </a>
      </li>
    </ul>
  </div>

  <div class="flex gap-2">
    <a class="w-[18px] h-[18px] link"
       routerLink="">
      <img src="assets/youtube.png">
    </a>
    <a class="w-[18px] h-[18px] link"
       routerLink="">
      <img src="assets/instagram.png">
    </a>
    <a class="w-[18px] h-[18px] link"
       routerLink="">
      <img src="assets/be.png">
    </a>
    <a class="w-[18px] h-[18px] link"
       routerLink="">
      <img src="assets/linkedin.png">
    </a>
  </div>
</nav>