<div class="flex justify-between mt-4">
  <div>
    <label class="text-purple-1"
           for="itemsPerPage">Show:</label>
    <select class="rounded-c-lg px-4 py-3"
            id="itemsPerPage"
            [(ngModel)]="itemsPerPage"
            (ngModelChange)="onItemsPerPageChange($event)">
      @for (num of [5, 10, 15, 20]; track $index) {
      <option [value]="num">{{ num }} Rows</option>
      }
    </select>
  </div>
  <div>
    <button (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1">
      <ng-icon class="text-2xl"
               name="matChevronLeft"></ng-icon>
    </button>
    <span>{{ currentPage }}</span>
    <button (click)="onPageChange(currentPage + 1)"
            [disabled]="isNextPageDisabled">
      <ng-icon class="text-2xl"
               name="matChevronRight"></ng-icon>
    </button>
  </div>
</div>